.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

label {
  font-weight: 600;
  margin-right: 10px;
}

select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
